.title{
    color: aliceblue;
    font: Regular 20px/26px Roboto;
    padding-left: 100px;
    letter-spacing: 2px;
}

.login{
    margin-left: 20px;
}

button{
    background-color: #a03037;
    border-radius: 5px;
    text-decoration-color:#FFFFFF;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    width: 106px;
    height: 40px;
}