<div class="head1">
     <h1 fxLayoutAlign="center">INSURANCE MANAGEMENT CLAIMED STATUS</h1>
</div>

<div class="head2">
    <h1 fxLayoutAlign="center">Your Application Sucessfully Applied for Claiming Insurance.....</h1>
<br><h2 style="margin-left: 300px;">Name         : <span>{{ this.claimedUser.user.userFullName }}</span></h2>
    <h2 style="margin-left: 300px;">TotalAmount  : <span>{{ this.claimedUser.totalAmount }}</span></h2>
    <h2 style="margin-left: 300px;">Reason       : <span>{{ this.claimedUser.reason }}</span></h2>
    <h2 style="margin-left: 300px;">Status       : <span>{{ this.claimedUser.status }}</span></h2>
    <h2 style="margin-left: 300px;">VehicleNO    : <span>{{ this.claimedUser.user.vehicleNo }}</span></h2>

    <h1 fxLayoutAlign="center">You will get a Response in Next 24hrs - 48hrs</h1>
</div>

<div class="foot-head">
    <div class="foot">
      <div>
        <p>Find US</p>
        <p>7, AmbedkarStreet, Chennai</p>
      </div>
      <div>
        <p>Contact US</p>
        <p>9792718288</p>
      </div>
      <div>
        <p>Mail US</p>
        <p>immanuekl@gmail.com</p>
      </div>  
      
    </div>
    <p class="cp-text">
      © Copyright 2015 Company Name. All rights reserved.
  </p>
  </div>
  
