<div class="body">
	<div class="main">  	
			<div class="signup">
                <mat-card>
                    <form>
                        <mat-label >Reset Password</mat-label>
                        <input type="text" style="width: 20vw; height: 2vw;" name="txt" placeholder="Enter new Password" [(ngModel)]="user.password" >
                        <button (click)="onSubmit()" style="width: 20vw;">SUBMIT</button>
                    </form>
                </mat-card>	
			</div>
	</div>
</div>