
<div fxLayoutAlign="center center" fxFlexFill style="display: flex; background-color: aqua;">
    <div >
    </div>
    <mat-card fxFlex="28" >

        <div style="text-align: center;">

            <div fxLayoutAlign="flex-start" style="background-color: #A03037; padding-top: 16px;">
                <h2 class="title" style="padding-left: 30px;">InsuranceManagementSystem</h2>
            </div>
            <h2>Sign in</h2>
            <p>Use your Insurance Account</p>
        </div>
        <div class="alert alert-danger text-justify" [hidden]="!error">{{error}}</div>
        <form fxLayout="column" [formGroup]="insuranceUser" fxLayoutAlign="start start" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="outline" fxLayout="column" style="width: 100%;">
                <mat-label>Enter your Name</mat-label>
                <input id="username" required matInput type="name" placeholder="Name" ngDefaultControl formControlName="username">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Enter Password</mat-label>
                <input id="password" minlength="3"  ngDefaultControl formControlName="password" required [(ngModel)]="form.password" name="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon style="color: #e1e4e4;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <span><a [routerLink]="[ '/register']">Are you new User ?</a>
            <a [routerLink]="[ '/forgetpassword']" style="margin-left: 150px;">Forget Password</a></span>
            
            <br>
            
            <br>
            <div fxFlexAlign="end">
                <button mat-raised-button class="submit" type="submit">Login</button>
            </div>
        </form>
    </mat-card>
</div>

