
<div fxLayoutAlign="center center" fxFlexFill style="display: flex; background-color: aqua;">
    <div >
    </div>
    <mat-card fxFlex="28" >

        <div style="text-align: center;">

            <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="flex-start" style="background-color: #A03037; padding-top: 16px;">
                <h2 class="title" >InsuranceManagementSystem</h2>
            </div>
            <h2>Sign in</h2>
            <p>Use your Insurance Account</p>
        </div>
        <div class="alert alert-danger text-justify" [hidden]="!error">{{error}}</div>
        <form action="" fxLayout="column" [formGroup]="insuranceUser" fxLayoutAlign="start start" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="outline" fxLayout="column" style="width: 100%;">
                <mat-label>Enter your Name</mat-label>
                <input id="username" required matInput type="name" placeholder="Name" ngDefaultControl formControlName="username">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Enter Password</mat-label>
                <input id="password" minlength="3"  ngDefaultControl formControlName="password" required [(ngModel)]="form.password" name="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon style="color: #e1e4e4;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <a fxFlexAlign="start" style="color: #cab5b5;" [routerLink]="[ '/register']">Are you new User ?</a>
            <br>
            
            <br>
            <div fxFlexAlign="end">
                <button id="submit" mat-raised-button type="submit" style="
            background-color: #a03037;
            border-radius: 5px;
            text-decoration-color:#FFFFFF;
            font-size: 20px;
            font-weight: 500;
            color: whitesmoke;
            width: 106px;
            height: 40px;"
            id="loginBtn" type="submit">Login</button>
            </div>
        </form>
    </mat-card>
</div>

